<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Livre</title>
    <link rel="stylesheet" type="text/css" href="/estilo.css">
</head>
<body>    
    <h1 class="Titulo">Loja - Aple Store</h1>

    <form class='forms'action="/" method="GET">
        <label for="categoria">Categoria:</label>
        <select name="categoria" id="categoria">
            <option value="">Escolha uma categoria</option>
            <option value="eletronicos">Eletrônicos</option>
            <option value="eletrodomestico">Eletrodomésticos</option>
            <option value="movel">Móveis</option>
            <option value="roupa">Roupas</option>
        </select>
        <button type="submit">Filtrar</button>

    </form>

    <ul class="bloco" >
        <% p.forEach(function(produto){ %> 

                <li class="<%= produto.categoria %>"><a href='/products/<%= produto.id %>'><%= produto.nome %></a>
                    <p><%= produto.categoria %></p>
                    <p>R$ <%= produto.preco %>,00</p>
                </li>
                <!-- <p><%= produto.categoria %></p>
                <p><%= produto.preco %></p> -->
           
        <% }); %>
    </ul>
    <a class="addnovo" href="/add">Adicionar um novo produto</a>
</body>
</html>